<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBjZInJxtZN55_y4O1l4tFPNvGm-mdC4y4</string>
	<key>GCM_SENDER_ID</key>
	<string>237911679905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medicineReminder</string>
	<key>PROJECT_ID</key>
	<string>medicine-reminder-a898d</string>
	<key>STORAGE_BUCKET</key>
	<string>medicine-reminder-a898d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237911679905:ios:728d881851a7cfac8d21e0</string>
</dict>
</plist>